* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul,li,dl,dt,dd {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    border: none;
    outline: none;
}
img {
    vertical-align: middle;
}